li {
    background-color: #282c34;
    border-color: #ccc;
    margin-top: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: #FF8C00;
    font-size: 1.3rem;

}

li button {
    background-color: white;
    color: red;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 1px;
    width: 70px;
}

li button:hover {
background-color: #ddd;

}

.done {
    text-decoration: line-through green;
}

